
.piece-box.white-box {
    background: #fffdd0;
}
.piece-box.black-box {
    background: #133337;
}
.piece-box.piece-selected {
    background: #f6f669;
    cursor: pointer;
}
.piece-box.piece-ready {
    background: greenyellow;
}
.piece-box.piece-potential {
    background: lightskyblue;
    border: 0.1px solid rgb(24, 155, 236);
}
.piece-box.piece-not-allowed {
    background: coral;
}
.piece-box.piece-pointer {
    cursor: pointer;
}